<h1>Listing students</h1>


<table border="2" CELLPADDING="2" CELLSPACING="2" WIDTH="100%">
  <tr>
    <th>Student ID</th>
    <th>Matched ID</th>
  </tr>

<% countt=0%>
<% @results.each do |result| %>
<% countt = countt +1 %>
  <tr>
    <td WIDTH="20%"><%= result[0] %></td>
    <td WIDTH="20%"><%= result[1]%></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'View Students', students_path %>
